header {
  background-color: black;
  color: white;
  padding: 1rem 0;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem 1rem;
}

#h2-logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.cart-icones {
  display: flex;
  gap: 1rem;
  position: relative;
  cursor: pointer;
}

main {
  display: flex;
  margin: 0;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #212529;
}

.container-carrossel {
  overflow: hidden;
  width: 800px;
  height: 400px;
  margin: 0 auto;
}

.carrossel {
  display: flex;
  width: 400%;
  height: 400px;
}
.carrossel input {
  display: none;
}

.slideFirst {
  width: 50%;
  position: relative;
}

.slide {
  width: 50%;
  position: relative;
}

.slide img {
  width: 800px;
}
.slideFirst img {
  width: 800px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -120px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.7s;
  margin: 0 10px;
}
.manual-btn:hover {
  background: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -50%;
}

.navigation-auto div {
  border: 2px solid #fafafa;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
  padding: 5px;
}
