header {
  background-color: black;
  color: white;
  padding: 1rem 0;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem 1rem;
}

#h2-logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.cart-icones {
  display: flex;
  gap: 1rem;
  position: relative;
  cursor: pointer;
}

main {
  flex-direction: column;
  margin: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.section-carrossel {
  display: flex;
  margin-top: 5rem;
  border-bottom: 1px solid #212529;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.section-produtos {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2rem;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.container img {
  width: 14rem;
  height: 19rem;
  margin: 1rem;
}
.container button {
  background-color: #212529;
  color: #f8f9fa;
  border: none;
  padding: 0.5rem 1rem;
}

.container-carrossel {
  overflow: hidden;
  width: 800px;
  height: 400px;
  margin: 0 auto;
}

.carrossel {
  display: flex;
  width: 400%;
  height: 400px;
}
.carrossel input {
  display: none;
}

.slideFirst {
  width: 50%;
  position: relative;
}

.slide {
  width: 50%;
  position: relative;
}

.slide img {
  width: 800px;
}
.slideFirst img {
  width: 800px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -120px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.7s;
  margin: 0 10px;
}
.manual-btn:hover {
  background: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -50%;
}

.navigation-auto div {
  border: 2px solid #fafafa;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
  padding: 5px;
}

footer {
  background-color: #ffffff;
  padding: 4rem;
  display: flex;
  flex-direction: row;
  gap: 8rem;
  align-items: center;
  justify-content: center;
}
.footer-content p {
  color: black;
  font-size: 17px;
  font-weight: bold;
}
.footer-content li {
  color: gray;
  font-size: 14px;
  margin-bottom: 5px;
  cursor: pointer;
}
.Redes {
  margin-left: 15rem;
  gap: 2rem;
}
.iconF {
  margin-left: 2rem;
}
